<div class="container-home d-flex flex-column align-items-center">
  <div class="d-flex justify-content-around align-items-center first-description w-100">
    <div class="container-description">
      <p class="blue-text">Livrare super rapida</p>
      <h3 class="title">Transport rapid si sigur<br>
        pentru coletele tale</h3>
      <p class="description">
        Garantam transportarea sigura si rapida a coletelor tale, indifferent de destinatie sau dimensiune.
      </p>
    </div>
    <div class="container-image">
      <img src="./assets/img/home-1.png" alt="image">
    </div>
  </div>

  <!------Cards-------->
  <!-- <div class="d-flex justify-content-between flex-wrap container-cards">
    <mat-card>
      <mat-card-content class="d-flex flex-column align-items-center">
        <mat-icon class="material-symbols-outlined">
          info
        </mat-icon>
        <div class="container-description">
          <span>Apelezi la noi cu informatiile despre colet</span>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-content class="d-flex flex-column align-items-center">
        <mat-icon class="material-symbols-outlined">
          assignment
        </mat-icon>
        <div class="container-description">
          <span>Facem actele pentru transport</span>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-content class="d-flex flex-column align-items-center">
        <mat-icon class="material-symbols-outlined">
          inventory_2
        </mat-icon>
        <div class="container-description">
          <span>Luam coletul</span>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-content class="d-flex flex-column align-items-center">
        <mat-icon class="material-symbols-outlined">
          local_shipping
        </mat-icon>
        <div class="container-description">
          <span>Ducem coletul la destinatie</span>
        </div>
      </mat-card-content>
    </mat-card>
  </div> -->

  <!--------Povestea noastra------------>
  <div class="row container-story w-100">
    <div class="container-left-story col-12 col-sm-12 col-md-6">
      <div class="container-image-story"></div>
    </div>
    <div class="container-right-story col-12 col-sm-12 col-md-6">
      <div class="container-description d-flex flex-column align-items-start justify-content-center h-100">
        <h3 class="title">Povestea noastră</h3>
        <p class="description">
          De-a lungul anilor, ne-am concentrat mereu pe satisfacerea nevoilor clienților și am crescut constant prin
          investiții în tehnologie avansată și instruirea personalului nostru.

          Astăzi, suntem recunoscuți ca lideri în industrie, oferind servicii prompte și eficiente de transport marfă,
          într-o varietate de destinații naționale și internaționale.
        </p>
      </div>
    </div>
  </div>
  <!--------End Povestea noastra------------>
  <!---------Service----------->
  <div class="d-flex justify-content-around align-items-center second-description w-100">
    <div class="container-image">
      <img src="./assets/img/men-think.png" alt="image">
    </div>
    <div class="container-description">
      <h3 class="title">Ce te face pe tine sa
        alegi serviciile noastre?</h3>
      <p class="description">Serviciile noastre de transport de colete se diferentiaza prin fiabilitate, siguranta si
        rapiditate.
        Avem o echipa dedicate si profesionista, care se agigura ca fiecare colet este manevrat cu atentie si livrat la
        timp. De asemenea, oferim optiuni flexibile de livrare, adaptate nevoilor si preferintelor clientilor.Garantam
        transportarea sigura si rapida a coletelor tale, indifferent de destinatie sau dimensiune.
      </p>

      <div class="container-icon-review d-flex align-items-center">
        <mat-card>
          <mat-card-content>
            <mat-icon class="material-symbols-outlined">
              rate_review
            </mat-icon>
          </mat-card-content>
        </mat-card>
        <strong class="description-review">99% recenzii pozitive</strong>
      </div>
    </div>
  </div>
  <!---------End Service----------->
  <!---------About us----------->
  <div class="d-flex flex-column container-about-us w-100">
    <div class="container-title-about-us">
      <p class="blue-text">Despre noi</p>
      <h3 class="title">Cine suntem noi?</h3>
    </div>
    <div class="container-info-about-us d-flex align-items-center justify-content-around flex-wrap">
      <div class="container-description">
        <p class="description">Serviciile noastre de transport de colete se diferentiaza prin fiabilitate, siguranta si
          rapiditate.
          Avem o echipa dedicate si profesionista, care se agigura ca fiecare colet este manevrat cu atentie si livrat
          la
          timp. De asemenea, oferim optiuni flexibile de livrare, adaptate nevoilor si preferintelor clientilor.Garantam
          transportarea sigura si rapida a coletelor tale, indifferent de destinatie sau dimensiune.
        </p>
      </div>
      <div class="container-image">
        <img src="./assets/img/description-image.png" alt="image">
      </div>
    </div>
  </div>
  <!---------End About us----------->
  <!---------Vehicule----------->
  <div class="d-flex flex-column align-items-center container-vehicles w-100">
    <div class="container-title-vehicles">
      <h3 class="title">Flota noastre de vehicule</h3>
      <p class="sub-description">Momentan avem 3 vehicule la activ, in curand vom adauga altele noi</p>
    </div>
    <div class="container-image-vehicles">
      <img src="./assets/img/vehicles.png" alt="vehicles image">
    </div>
  </div>
  <!---------End Vehicule----------->
  <!-----------TODO: De creat partea cu membri echipei-------------------->

  <!-----------End TODO: De creat partea cu membri echipei-------------------->
  <!---------Servicile noastre----------->
  <div class="d-flex flex-column container-services w-100">
    <div class="container-title-services">
      <p class="blue-text">Serviciile noastre</p>
      <h3 class="title">Ce Servicii oferim?</h3>
    </div>
    <div class="container-info-services d-flex align-items-center justify-content-around flex-wrap">
      <div class="container-description">
        <p class="description">Firma noastra de transport colete ofera servicii de livrare rapida si sigura pentru
          colete de orice dimensiune si greutate. Oferim Servicii de curierat standard si expres, precum si servicii de
          livrare programate la orice adresa din tara sau din strainatate.
          Oferta noastra se adreseaza atat persoanelor fizice, cat si companiilor care au nevoie de transport colete.
        </p>
      </div>
      <div class="container-image">
        <img src="./assets/img/our-service.png" alt="image">
      </div>
    </div>
  </div>
  <!---------End Servicile noastre----------->
  <!---------Harta Noastra----------->
  <div class="d-flex flex-column align-items-center container-map w-100">
    <div class="container-title-map">
      <h3 class="title">Harta noastra</h3>
      <p class="sub-description">Nu excludem tarile care nu apar pe mapa, in care nii se ofera un contract adecvat
        pentru transport</p>
    </div>
    <div class="container-image-map">
      <img src="./assets/img/map.png" alt="vehicles image">
    </div>
  </div>
  <!---------End Harta Noastra----------->
  <!---------Caracterize----------->
  <div class="d-flex flex-column container-caracterize w-100">
    <div class="container-title-caracterize">
      <h3 class="title">Ce ne caracterizeaza pe noi?</h3>
    </div>
    <div class="container-info-caracterize d-flex align-items-center justify-content-around flex-wrap">
      <div class="container-description">
        <p class="description">Firma noastra se caracterizeaza prin:
        </p>
        <ul class="d-flex flex-column justify-content-start container-list">
          <li>Experienta si profesionalismul personalului nostru</li>
          <li>Livrarea la timp si siguranta a coletelor</li>
          <li>Tarife competitive si transparente</li>
          <li>Servicii de calitate superioara si atentie la detalii</li>
          <li>Suport si asistenta continua pentru client nostri</li>
        </ul>
      </div>
      <div class="container-cards d-flex align-items-center">
        <mat-card>
          <mat-card-content class="d-flex flex-column align-items-center justify-content-center h-100">
            <mat-icon class="material-symbols-outlined">
              local_shipping
            </mat-icon>
            <span class="description-card">Rapiditate</span>
          </mat-card-content>
        </mat-card>

        <mat-card>
          <mat-card-content class="d-flex flex-column align-items-center justify-content-center h-100">
            <mat-icon class="material-symbols-outlined">
              inventory
            </mat-icon>
            <span class="description-card">Profesionalism</span>
          </mat-card-content>
        </mat-card>

        <mat-card>
          <mat-card-content class="d-flex flex-column align-items-center justify-content-center h-100">
            <mat-icon class="material-symbols-outlined">
              front_loader
            </mat-icon>
            <span class="description-card">Atentie</span>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
  <!---------End Caracterize----------->
  <!---------Our Images----------->
  <div class="d-flex flex-column container-our-images w-100">
    <div class="container-info-our-images d-flex align-items-center justify-content-around flex-wrap">
      <div class="carousel-wrapper">
        <div class="carousel-container">
          <div class="carousel">
            <div class="image-one"></div>
            <div class="image-two"></div>
            <div class="image-three"></div>
          </div>
        </div>
      </div>
      <div class="container-description">
        <h3 class="title">Dovezi ca suntem pro
          in ce facem</h3>
        <p class="description">Credem in abilitatile noastre si de aceaia am decis sa inmortalizam unele momente din
          viata noastre legata de transporturi finalizate cu success
        </p>
      </div>
    </div>
  </div>
  <!---------End Our Images----------->
</div>
<app-footer></app-footer>
