<div class="container-home d-flex flex-column align-items-center">
  <div class="d-flex justify-content-around align-items-center first-description w-100">
    <div class="container-description">
      <p class="blue-text">Livrare super rapida</p>
      <h3 class="title">Transport rapid si sigur<br>
        pentru coletele tale</h3>
      <p class="description">
        Garantam transportarea sigura si rapida a coletelor tale, indifferent de destinatie sau dimensiune.
      </p>
    </div>
    <div class="container-image">
      <img src="./assets/img/home-1.png" alt="image">
    </div>
  </div>

  <!------Cards-------->
  <!-- <div class="d-flex justify-content-between flex-wrap container-cards">
    <mat-card>
      <mat-card-content class="d-flex flex-column align-items-center">
        <mat-icon class="material-symbols-outlined">
          info
        </mat-icon>
        <div class="container-description">
          <span>Apelezi la noi cu informatiile despre colet</span>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-content class="d-flex flex-column align-items-center">
        <mat-icon class="material-symbols-outlined">
          assignment
        </mat-icon>
        <div class="container-description">
          <span>Facem actele pentru transport</span>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-content class="d-flex flex-column align-items-center">
        <mat-icon class="material-symbols-outlined">
          inventory_2
        </mat-icon>
        <div class="container-description">
          <span>Luam coletul</span>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-content class="d-flex flex-column align-items-center">
        <mat-icon class="material-symbols-outlined">
          local_shipping
        </mat-icon>
        <div class="container-description">
          <span>Ducem coletul la destinatie</span>
        </div>
      </mat-card-content>
    </mat-card>
  </div> -->

  <!--------Povestea noastra------------>
  <div class="row container-story w-100">
    <div class="container-left-story col-12 col-sm-12 col-md-6">
      <div class="container-image-story"></div>
    </div>
    <div class="container-right-story col-12 col-sm-12 col-md-6">
      <div class="container-description d-flex flex-column align-items-start justify-content-center h-100">
        <h3 class="title">Povestea noastră</h3>
        <p class="description">
          De-a lungul anilor, ne-am concentrat mereu pe satisfacerea nevoilor clienților și am crescut constant prin
          investiții în tehnologie avansată și instruirea personalului nostru.

          Astăzi, suntem recunoscuți ca lideri în industrie, oferind servicii prompte și eficiente de transport marfă,
          într-o varietate de destinații naționale și internaționale.
        </p>
      </div>
    </div>
  </div>
  <!--------End Povestea noastra------------>
  <!---------Service----------->
  <div class="d-flex justify-content-around align-items-center second-description w-100">
    <div class="container-image">
      <img src="./assets/img/men-think.png" alt="image">
    </div>
    <div class="container-description">
      <h3 class="title">Ce te face pe tine sa
        alegi serviciile noastre?</h3>
      <p class="description">Serviciile noastre de transport de colete se diferentiaza prin fiabilitate, siguranta si
        rapiditate.
        Avem o echipa dedicate si profesionista, care se agigura ca fiecare colet este manevrat cu atentie si livrat la
        timp. De asemenea, oferim optiuni flexibile de livrare, adaptate nevoilor si preferintelor clientilor.Garantam
        transportarea sigura si rapida a coletelor tale, indifferent de destinatie sau dimensiune.
      </p>

      <div class="container-icon-review d-flex align-items-center">
        <mat-card>
          <mat-card-content>
            <mat-icon class="material-symbols-outlined">
              rate_review
            </mat-icon>
          </mat-card-content>
        </mat-card>
        <strong class="description-review">99% recenzii pozitive</strong>
      </div>
    </div>
  </div>
  <!---------End Service----------->
  <!---------About us----------->
  <div class="d-flex flex-column container-about-us w-100">
    <div class="container-title-about-us">
      <p class="blue-text">Despre noi</p>
      <h3 class="title">Cine suntem noi?</h3>
    </div>
    <div class="container-info-about-us d-flex align-items-center justify-content-around flex-wrap">
      <div class="container-description">
        <p class="description">Serviciile noastre de transport de colete se diferentiaza prin fiabilitate, siguranta si
          rapiditate.
          Avem o echipa dedicate si profesionista, care se agigura ca fiecare colet este manevrat cu atentie si livrat la
          timp. De asemenea, oferim optiuni flexibile de livrare, adaptate nevoilor si preferintelor clientilor.Garantam
          transportarea sigura si rapida a coletelor tale, indifferent de destinatie sau dimensiune.
        </p>
      </div>
      <div class="container-image">
        <img src="./assets/img/description-image.png" alt="image">
      </div>
    </div>
  </div>
</div>
