<div class="d-flex flex-column align-items-center w-100 container-footer">
  <div class="d-flex justify-content-between align-items-start w-100 container-info">
    <div class="d-flex flex-column align-items-start info">
      <h6 class="title">Incepe o conversatie</h6>
      <p>+40 0762183482</p>
      <p>trasanto@gmail.com</p>
    </div>
    <div class="d-flex flex-column align-items-start info">
      <h6 class="title">Adresa</h6>
      <p>43 Strada libertatii,
        Adjud, Romania</p>
    </div>
    <div class="d-flex flex-column align-items-start info">
      <h6 class="title">Companie</h6>
      <a>Despre Noi</a>
      <a>Servicii</a>
      <a>Preturi</a>
      <a>Contact</a>
    </div>
  </div>
  <footer>&copy; Copyright 2023 FastTransAnto Made with ❤ by Asu Software</footer>
</div>
